<%- include("./partials/head.ejs") %>
<body>
    <link rel="stylesheet" href="/css/style.css">
    <header>
        <h1 class="header_h1"><img src="/imgs/studybuddy-icon.svg" class="studybuddy-icon"/>Welcome to Study Buddy!</h1>
        <nav class="sidenav">
                <a href="/cards">View Index Cards</a>
                
        </nav>
    </header>
    
    <main class="homepage">
        <section class="content">
            <h1>What is Study Buddy?</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, ipsum nihil illo, atque accusantium consectetur, quasi accusamus consequatur harum praesentium corporis eaque? Voluptates quos tempore dignissimos qui architecto, inventore consectetur.</p>
        </section>
      
    </main>
    
</body>
<footer class="homepage-footer"><div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
</html>