<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <section class="colum.side">
        <p>Lorem </p>
    </section>
    <main class="homepage">
        <section class="content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, ipsum nihil illo, atque accusantium consectetur, quasi accusamus consequatur harum praesentium corporis eaque? Voluptates quos tempore dignissimos qui architecto, inventore consectetur.</p>
        </section>
      
    </main>
    
</body>
<footer class="homepage-footer"><div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
</html>