:root {
  --bright-orange: #ff6c37;
  --light-orange: #f5ac91;
  --bright-green: #A0BE73;
  --light-green: #c6d8ab;
  --purple: #B67D9A;
}




* {
    box-sizing: border-box;
   
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #1c272b;
    color: white;
    border-left: solid 5px;
  }

  /* Header */
  header {
      padding: 30px;
      text-align: center;
      background: #1c272b;
    }
     
    
.studybuddy-icon {
    height: 40px;
    width: 40px;
}

.header_h1 {
    font-size: 50px;
  }
  
nav {
    overflow: hidden;
    background-color: #333;
    border-right: solid 10px;
    
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff6c37;
    overflow-x: hidden;
    border-bottom: solid 2px ;
  }
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  

.sidenav a:hover {
    background-color: #1c272b;
    color: #ff6c37;
  }

/* Home Page */
.column {
    float: left;
  }
  
  .homepage, footer {
    margin-left: 200px;
    padding-left: 20px;
  }

  footer {
    background-color: #ff6c37;
    padding: 10px;
    width: 100%;
    height: 40px;
   
    position: absolute;
    bottom: 0;
    /* left: 0; */
    text-align: center;
    border-top: solid 5px;
    border-left: solid 1px;
    
  }

  /* Cards */
  .indexcards {
   
    padding-left:15%;
  }
  

  .indexcards-show {
    padding-left:10%;
    font-size: x-large;
  }
  
  .indexcards-cards {
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    padding-left: 15%;
    
  }
  
  .flip-card {
  
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
   
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #ff6c37;
    color: white;
    font-size:x-large;
    font-weight: bold;
   padding-top: 25%;
   padding-left: 3%;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: #1c272b;
    transform: rotateY(180deg);
  }

  /* Show page */
  
  .forms {
    /* display: inline; */
    /* background-color: white; */
    width: 100%;
    height: 40px;
   
    bottom: 0;
    left: 0;
    text-align: center;
    border-left: solid 1px;
  }

  .sources {
  width: 60%;
  margin-top: 35%;
  margin-left: 10%;
  border: solid 5px white;
  color:#1c272b;
  border-radius: 15px;
  background-color: white;
  }

  
  
  fieldset {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px ;
    color:#1c272b;
    width: 40%;
  }
  legend {
    padding: 0px 10px;
    font-family: 'Oswald';
    font-weight: 500;
    color: var(--purple);
  }
  label {
    font-family: 'Oswald';
    font-weight: 200;
    color: var(--bright-orange);
    display: block;
  }
  
  input , textarea {
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--light-green);
    border-radius: 5px;
  }
  input:focus, textarea:focus {
    /* the outline property selects the default blue border that shows up on inputs. giving it a value of 0 gets rid of it */
    outline: 0;
    border: 1px solid var(--purple);
  }
  
  input[type="submit"]  {
    width: 30%;
    height: 50px;
    background: var(--bright-orange);
    box-shadow: 2px 2px var(--light-green);
    font-family: 'Oswald';
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    transition: 0.2s ease-in-out;
    align-items: center;
  }


  input[type="submit"]:hover {
    cursor: pointer;
    background: var(--bright-green);
    box-shadow: 2px 2px var(--light-orange);
  }
  
  
  /* using max-heights and max-widths to make it so that the user can only resize up to that point */
  textarea {
    resize: none;
    height: 75px;
  }
  
  
  .forms-buttons {
    display: inline; 
    width: 15%;
    height: 5px;
    bottom: 0;
    left: 0;
    text-align: center;
   
  }

  .flexwrap-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
  }

  

  
  .first-p {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-left: 10%;
    border: solid whitesmoke;
    color: #1c272b;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
  }
  
  .second-p {
  
    width: 75%;
    margin-left: 10%;
    border: solid whitesmoke;
    color: #1c272b;
    background-color: whitesmoke;
    border-radius: 20px;
    
  }
  
.p-title {
  color: #ff6c37;
  font-size: 40px;
  padding-bottom: 5px;
}