<%- include("../partials/head") %>

<body>
	<link rel="stylesheet" href="/css/style.css">
	<header>
		<h1 class="header_h1"><img src="/imgs/creativity.svg" class="studybuddy-icon" />Study Buddy</h1>
		<nav class="sidenav">
			<a href="/">Home</a>
			<a href="/cards/new">Create Index Cards</a>
		</nav>
	</header>

	<main class="indexcards-cards">
		<h2>Collection: </h2>
		<div class ="flexwrap-cards">
			<% cards.forEach(card => { %>
			<div class="flip-card">
				<div class="flip-card-inner">
						<div class="flip-card-front">
							<%= card.title %>
						</div>
						<div class="flip-card-back">
							<p><%=card.body%>
								<a href="/cards/<%= card._id %>">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<% }); %>
			</div>
				
	</main>
</body>

	</html>