<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Express Blog</title>
	</head>
	<body>
		<header>
			<h1>Index Cards</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/cards/new">Create a new Index Card</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Collection: </h2>
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-card-front">
			<ul>
				<% cards.forEach(card => { %>
					<li>
						<a href="/cards/<%= card._id %>">
							<%= card.title %>
						</a>
					</li>
				</div>
					<div class="flip-card-back">
					<%=card.body%>
				</div>
				<% }); %>
		</div>
	</div>
  
			</ul>
		</main>
	</body>
</html>