<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Express Blog</title>
	</head>
	<body>
		<header>
			<h1>Index Cards</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/articles/new">Create a new Index Card</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>List of Articles</h2>
			<ul>
				<% cards.forEach(card => { %>
					<li>
						<a href="/cards/<%= card._id %>">
							<%= card.title %>
						</a>
					</li>
				<% }); %>
			</ul>
		</main>
	</body>
</html>