<%- include("../partials/head.ejs") %>

<body>
	<%- include("../partials/header.ejs") %>
	<main class="indexcards">
		<form action="/cards" method="POST">
			<fieldset class="card-info">
			<legend>New Index Card</legend>
			<input type="text" name="title" placeholder="Front of the Card"/><br />
			<textarea name="body" placeholder="Back of the Card"></textarea><br />
			<input type="url" name="source" placeholder="Source"/><br />
			<input type="text" name="nameOfSource" placeholder="Source Name"/><br />
		</fieldset>
			<input type="submit" value="Create card"  />
		</form>
	</main>
</body>
<footer class="homepage-footer"><div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</html>