<%- include("../partials/head.ejs") %>

<body>
	<%- include("../partials/header.ejs") %>
	<main class="indexcards">
		<form action="/cards" method="POST">
			<input type="text" name="title" placeholder="Question"/><br />
			<textarea name="body" placeholder="Answer"></textarea><br />
			<input type="text" name="source" placeholder="Source"/><br />
			<input type="url" name="video" placeholder="Youtube videos"/><br />
			<input type="submit" value="Create card" />
		
		</form>
	</main>
</body>

</html>